<?xml version="1.0"?>
<config>
    <modules>
        <Plugincompany_Codemirror>
            <version>0.1.0</version>
        </Plugincompany_Codemirror>
    </modules>
    <global>
        <blocks>
            <plugincompany_codemirror>
                <class>Plugincompany_Codemirror_Block</class>
            </plugincompany_codemirror>
        </blocks>
        <helpers>
            <plugincompany_codemirror>
                <class>Plugincompany_Codemirror_Helper</class>
            </plugincompany_codemirror>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <plugincompany_codemirror>
                    <file>plugincompany_codemirror.xml</file>
                </plugincompany_codemirror>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <plugincompany_codemirror>
                                            <title>asdasd</title>
                                        </plugincompany_codemirror>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <plugincompany_codemirror>
            <plugincompany_codemirror_group>
                <enabled>1</enabled>
                <cms_page>1</cms_page>
                <cms_block>1</cms_block>
                <product>1</product>
                <categories>1</categories>
                <newsletter>1</newsletter>
                <transactional>1</transactional>
            </plugincompany_codemirror_group>
        </plugincompany_codemirror>
    </default>
</config>